*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  color: #3d3d3d;
  background-color: #fff;
}

* {
  /* border: 1px solid black; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

a {
  /* color: #007bff; */
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  /* color: #0056b3; */
  /* text-decoration: underline; */
  font-weight: bold;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1140px;
}

.space {
  margin-bottom: 50px;
}

/* begin header */
.close {
  display: none;
}
.navbar {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  padding: 15px 0;
  transition: 0.5s;
}

#sticky {
  padding: 5px 0;
  background-color: rgba(0, 0, 0, 0.9);
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar .logo {
  display: inline-block;
}

.logo a {
  color: white;
}

.logo a:hover {
  text-decoration: none;
}

.toggle {
  font-size: 24px;
  color: white;
  cursor: pointer;
  display: none;
}

.header .navbar .nav-menu {
  display: inline-block;
}

.nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu ul li {
  display: inline-block;
  padding: 8px 5px;
}

.nav-menu ul li a {
  color: #fff;
}

.dropdown {
  position: relative;
}

.dropdown .dropdown-menu {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  margin-top: 8px;
  position: absolute;
  border-radius: 5px;
  border-top: 3px solid steelblue;
  background-color: #fff;
  display: none;
}

.dropdown .dropdown-menu li {
  min-width: 150px;
  padding: 8px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
}

.dropdown .dropdown-menu li a {
  color: steelblue;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.intro {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("../img/intro.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
}

.intro img {
  /* max-height: 100%; */
  max-width: 100%;
}

.intro::before {
  content: "";
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.intro .container {
  margin: auto;
  color: white;
  text-align: center;
  z-index: 1;
}

/* end header */

/* About */
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.col-4 {
  width: 33%;
  /* background-color: violet; */
  padding: 15px;
}
.col-3 {
  width: 25%;
  /* background-color: violet; */
  padding: 15px;
}
.col-6 {
  width: 50%;
  padding: 15px;
}

/* .about {
  background-image: url("../img/about-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
} */

.about .col-4 {
  text-align: center;
}

.title {
  text-align: center;
}
.title h1 {
  color: steelblue;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.card {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.card-header {
  height: 200px;
  background-color: gray;
  /* overflow: hidden; */
  position: relative;
}

.card-header img {
  height: 100%;
}

.card-header h1 {
  height: 64px;
  width: 64px;
  display: flex;
  font-size: 32px;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: calc(50% - 32px);
  bottom: -40px;
  color: white;
  border-radius: 50%;
  background-color: steelblue;
  border: 5px solid white;
  transition: 0.3s;
}

.card-header h1:hover {
  /* border: 5px solid steelblue; */
  background-color: white;
  color: steelblue;
}

.card-content {
  padding: 22px 12px;
  background-color: #fff;
}

/* end About */

/* begin services */
.service-item {
  display: flex;
  /* padding: 8px 0; */
}

.services .title {
  margin-bottom: 50px;
}

.service-item:hover .services-content h3 {
  color: steelblue;
}

.service-item .icon {
  color: steelblue;
  width: 15%;
  margin-right: 20px;
  line-height: 15px;
  font-size: 21px;
}
.services-content {
  width: 85%;
}
.service-item .services-content h3 {
  line-height: 0;
  margin-bottom: 25px;
  transition: 0.3s;
}

/* end services */

/* action */
.action {
  width: 100%;
  height: 300px;
  background-image: url("../img/call-to-action-bg.jpg");
  color: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  text-align: center;
}

.action .container {
  margin: auto;
}

.btn-outline {
  color: white;
  background-color: unset;
  padding: 10px 30px;
  border: 2px solid white;
  font-size: 16px;
  border-radius: 40px;
  font-family: "Quicksand";
  transition: 0.3s;
}

.btn-outline:hover {
  background-color: white;
  cursor: pointer;
  border-color: white;
  color: teal;
  font-weight: bold;
}

.action .container p {
  margin-bottom: 20px;
}
/* end action */

/* PORTFOLIO */
.port {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
}

.port-header {
  height: 200px;
  position: relative;
  overflow: hidden;
}
.port-header img {
  height: 100%;
}
.port .port-content {
  padding: 8px;
  text-align: center;
}
.port-header .preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  opacity: 0;
}
.port-header .preview:hover {
  opacity: 1;
}
.port-header .preview:hover a {
  transform: scale(1);
}
.port-header .preview a {
  transform: scale(0);
  color: #3d3d3d;
  background-color: #fff;
  border-radius: 50%;
  font-size: 21px;
  width: 40px;
  height: 40px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.port-header .preview a:hover {
  color: #fff;
  background-color: steelblue;
}

.overlay {
  width: 0;
  height: 0;
  position: fixed;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  padding: 80px;
  transition: 1s;
}

.overlay:target {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}

.overlay:target img {
  opacity: 1;
}

.overlay:target a {
  transform: scale(1);
}

.overlay img {
  opacity: 0;
  max-height: 100%;
  border-radius: 10px;
  border: 4px solid white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.exit,
.prev,
.next {
  position: absolute;
  font-size: 48px;
  color: white;
  transform: scale(0);
  transition: 0.5s 0.5s;
}

.exit {
  top: 0;
  left: calc(50% - 24px);
}

.prev {
  left: 100px;
  top: calc(50% - 24px);
}

.next {
  right: 100px;
  top: calc(50% - 24px);
}
/* end PORTFOLIO */

/* begin team */
.team-item img {
  width: 100%;
  /* height: 100%; */
}
.team-item {
  position: relative;
  overflow: hidden;
}
.team-detail {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #fff;
  display: flex;
  transform: translateY(-100%);
  transition: 0.5s ease;
}
.team-item:hover .team-detail {
  transform: translateY(0);
}
.team-detail div {
  margin: auto;
}
.team-detail h4 {
  line-height: 0;
}
.team-detail small {
  line-height: 0;
}
.team-detail ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.team-detail ul li {
  padding: 5px;
  font-size: 18px;
  display: inline;
}
.team-detail ul li a {
  color: white;
}
.team-detail ul li a:hover {
  color: steelblue;
}
/* end team */

/* footer */
.footer .main {
  background-color: #111111;
  color: #fff;
  padding: 30px 0;
}
.footer .main ul {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}
.footer .main p {
  margin-bottom: 15px;
}
.medsos {
  display: flex;
}
.footer .main .medsos li a {
  margin-right: 5px;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  background-color: #222222;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.footer .main .medsos li a:hover {
  background-color: steelblue;
}
.footer .main .footer-title {
  padding-bottom: 6px;
  margin-bottom: 15px;
  border-bottom: 3px solid steelblue;
}
.footer .main form {
  display: flex;
}
.footer .main form button {
  color: white;
  background-color: steelblue;
  padding: 8px 10px;
  font-family: "quicksand";
  border: 0;
}
.footer .main form button:hover {
  cursor: pointer;
  background-color: rgb(50, 114, 167);
}
.footer .main form input {
  padding: 8px 10px;
  font-family: "quicksand";
  border: 0;
  font-size: 16px;
}
.footer .credit {
  text-align: center;
  background-color: black;
  color: white;
  padding: 30px 0;
}
.footer .credit p {
  line-height: 0;
}
.credit a {
  color: steelblue;
}
.credit small {
  line-height: 0;
}
/* end footer */

/* responsive */
@media (max-width: 900px) {
  .col-4 {
    width: 50%;
    /* background-color: violet; */
    padding: 15px;
  }
  .col-3 {
    width: 50%;
    /* background-color: violet; */
    padding: 15px;
  }
  .col-6 {
    width: 100%;
    padding: 15px;
  }
  .port-header img {
    height: unset;
    width: 100%;
  }
  .overlay {
    padding: 60px;
  }
}

@media (max-width: 600px) {
  .col-4 {
    width: 100%;
    /* background-color: violet; */
    padding: 15px;
  }
  .col-3 {
    width: 100%;
    /* background-color: violet; */
    padding: 15px;
  }
  .overlay {
    padding: 100px 20px;
  }
  .prev {
    left: 30px;
  }

  .next {
    right: 30px;
  }

  .header .navbar .nav-menu {
    display: none;
  }

  .hidden {
    transform: translateX(-100%);
  }
  .header .navbar #nav-menu {
    transition: 1s;
    display: block;
    padding: 30px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
  }

  #nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #nav-menu .close {
    cursor: pointer;
    color: white;
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: bold;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #nav-menu ul li {
    display: block;
    padding: 8px 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  #nav-menu ul li a {
    color: #fff;
  }

  #nav-menu .dropdown {
    position: static;
  }

  #nav-menu .dropdown .dropdown-menu {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    margin-top: 8px;
    border-radius: 5px;
    border-top: 3px solid steelblue;
    /* background-color: #fff; */
    /* display: none; */
  }

  #nav-menu .dropdown .dropdown-menu li {
    min-width: 150px;
    padding: 8px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
  }

  #nav-menu .dropdown .dropdown-menu li a {
    color: steelblue;
  }

  #nav-menu .dropdown:hover .dropdown-menu {
    display: block;
  }

  .toggle {
    display: block;
  }
}
